{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Add Category
{% endblock %}

{% block body_block %}
	<div>
		<form role="form" id="category_form" method="post"
		action="{% url 'rango:add_category' %}">
		<h2 class="form-signin-heading"> Add a Category</h2>
			<!-- This is a cross site request forgery token, which helps to protect and secure POST request that is initiated on the subsquent submission of a form-->
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}<br/>
				{{ field }}<br/>
			{% endfor %}
			<button class="btn btn-primary"
			type="submit" name="submit">
			Create a Category
			</button>
		</form>
	</div>
{% endblock %}
